
@media (min-width:768px){
header.page-header .header-wrapper-content > .header.content{ padding: 0px 0px 15px !important;}
.minicart-wrapper{margin-top: 30px;}
}
.page-footer .top-footer-wrapper { background: none !important;}
@media (min-width: 640px){}
.products-grid .product-item-actions {  margin: 0px 0px 10px;}