<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<div id="contact-address" class="contact-address" xmlns="http://www.w3.org/1999/html">
   <h1 class="contact-info"> Contact Information</h1>

    <div class="col-sm-6 col-md-6 col-xs-6">
       <span><span><i class="fa fa-map-marker" aria-hidden="true"></i></span><span class="contact-infor">6-3-666/B, Erramanjil Road, Panjagutta, Hyderabad - 500082, Opp Nims Hospital</span></span>
    </div>
    <div class="col-sm-6 col-md-6 col-xs-6">
        <span><i class="fa fa-mobile" aria-hidden="true"></i></span><span class="contact-infor"> +91 90001 33274</span><br/>
        <span>  <i class="fa fa-envelope" aria-hidden="true"></i></span><span class="contact-infor">info@brassleaf.in</span><br/>
        <span class="contact-durations">Mon-Sat- 10:30AM to 9:30PM.</span>
    </div>
</div>