.success-order-product-name {
    float: left;
    margin: 0 0 20px 0;
}

.sunarc-order-success-detail > div {
    float: left;
    margin: 0 0 20px 0;
    width: 50%;
}

dt {
    clear: left;
    float: left;
    margin: 0 10px 5px 0;
}
dd {
    display: inline-block;
    float: left;
    margin: 0 0 5px;
}
.success-order-product-name > .product-item-name {
    font-size: 1.8rem;
    display: block;
    margin: -3px 0 5px;
}

