<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Template for filter items block
 *
 * @var $block \Magento\LayeredNavigation\Block\Navigation\FilterRenderer
 */
?>
<?php 

$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$catalogSession = $objectManager->create('Magento\Catalog\Model\Session');
//$catalogSession->setMyValue($usedOptions); 
$appliedValue = array();
if($catalogSession->getMyValue())
{
	$appliedValue = $catalogSession->getMyValue();
	
}
$appliedValuenew =array();
$array_select = array();
?>
<ol class="items">
    <?php foreach ($filterItems as $filterItem):
   
        $array_select = array();
        $get = 'get'.$filterItem->getFilter()->getRequestVar();
        $applied =  $catalogSession->$get();
		$array_select[] = $applied[$filterItem->getFilter()->getRequestVar()];
   
	?>
        <li class="my item" <?php if(!empty($array_select[0])) { if(in_array($filterItem->getValue(),$array_select[0])){ ?> style='font-weight:bold;color:orange;' <?php  }} ?>>
            <?php if ($filterItem->getCount() > 0): ?>
                <a <?php if(!empty($array_select[0])) { if(in_array($filterItem->getValue(),$array_select[0])){ ?> style='font-weight:bold;color:orange;' href="<?php echo $block->escapeUrl($filterItem->getRemoveUrl()) ?>" <?php }  else {?>  href="<?php echo $block->escapeUrl($filterItem->getUrl()) ?>" <?php } } else {?>  href="<?php echo $block->escapeUrl($filterItem->getUrl()) ?>" <?php } ?>>
                    <?php /* @escapeNotVerified */ echo $filterItem->getLabel() ?>
                    <?php if ($this->helper('\Magento\Catalog\Helper\Data')->shouldDisplayProductCountOnLayer()): ?>
                        <span class="count"><?php /* @escapeNotVerified */ echo $filterItem->getCount()?><span class="filter-count-label">
                            <?php if ($filterItem->getCount() == 1):?> <?php /* @escapeNotVerified */ echo __('item')?><?php else:?> <?php /* @escapeNotVerified */ echo __('items') ?><?php endif;?></span></span>
                    <?php endif; ?>
                </a>
            <?php else:?>
                <?php /* @escapeNotVerified */ echo $filterItem->getLabel() ?>
                <?php if ($this->helper('\Magento\Catalog\Helper\Data')->shouldDisplayProductCountOnLayer()): ?>
                    <span class="count"><?php /* @escapeNotVerified */ echo $filterItem->getCount()?><span class="filter-count-label">
                        <?php if ($filterItem->getCount() == 1):?><?php /* @escapeNotVerified */ echo __('item')?><?php else:?><?php /* @escapeNotVerified */ echo __('items') ?><?php endif;?></span></span>
                <?php endif; ?>
            <?php endif; ?>
        </li>
    <?php endforeach ?>
</ol>
<?php foreach ($filterItems as $filterItem): ?>
<?php        $unset = 'uns'.$filterItem->getFilter()->getRequestVar();
             $catalogSession->$unset(); ?>
<?php endforeach ?>
