<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
?>
<?php
/**
 * Category layered navigation
 *
 * @var $block \Magento\LayeredNavigation\Block\Navigation
 */
?>

<?php if ($block->canShowBlock()): ?>
    <div class="block filter" id="layered-filter-block" data-mage-init='{"collapsible":{"openedState": "active", "collapsible": true, "active": false, "collateral": { "openedState": "filter-active", "element": "body" } }}'>
        <?php $filtered = count($block->getLayer()->getState()->getFilters()) ?>
        <div class="block-title filter-title" data-count="<?= /* @escapeNotVerified */ $filtered ?>">
            <strong data-role="title"><?= /* @escapeNotVerified */ __('Shop By') ?></strong>
        </div>
        <div class="block-content filter-content">
		<?php $helper = $this->helper('Sunarc\LayeredNavigation\Helper\Data');
				if($helper->getConfigHideEnabled()==0): ?>
            <?= $block->getChildHtml('state') ?>

            <?php if ($block->getLayer()->getState()->getFilters()): ?>
			
                <div class="block-actions filter-actions">
                    <a href="<?= /* @escapeNotVerified */ $block->getClearUrl() ?>" class="action clear filter-clear"><span><?= /* @escapeNotVerified */ __('Clear All') ?></span></a>
                </div>
			<?php endif; ?>
             <?php else: ?>
                    <?php if ($block->getLayer()->getState()->getFilters()): ?>
                    <div class="block-actions filter-actions">
                        <a href="<?= /* @escapeNotVerified */ $block->getClearUrl() ?>" class="action clear filter-clear"><span><?= /* @escapeNotVerified */ __('Reset Filter') ?></span></a>
                    </div>
                    <?php endif; ?>
            <?php endif; ?>
            <?php $wrapOptions = false; $filter_array= array(); $select_key=''; ?>
            <?php foreach ($block->getFilters() as $filter): ?>
            <?php if ($filter->getItemsCount()): ?>
            <?php $filter_array[] = $filter->getRequestVar(); ?>
            <?php endif; ?>
            <?php endforeach; ?>
            <?php foreach ($block->getFilters() as $filter):
            if(isset($_GET[$filter->getRequestVar()]) && $_GET[$filter->getRequestVar()]!='') {
                $key = array_search($filter->getRequestVar(), $filter_array);

                if ($key==0 || $key) {
                    $select_key.= $key . ",";
                }
            }

            ?>
            <?php endforeach;  $select_key = rtrim($select_key,',');?>
            <?php foreach ($block->getFilters() as $filter): ?>
            <?php if ($filter->getItemsCount()): ?>
                    <?php if (!$wrapOptions): ?>

                        <strong role="heading" aria-level="2" class="block-subtitle filter-subtitle"><?= /* @escapeNotVerified */ __('Shopping Options') ?></strong>
                        <div class="filter-options" id="narrow-by-list" data-role="content" <?php //if(isset($_GET[$filter->getRequestVar()]) && $_GET[$filter->getRequestVar()]!='')
						//{ ?> data-mage-init='{"accordion":{"openedState": "active", "collapsible": true, "active": [<?php echo $select_key; ?>], "multipleCollapsible": false}}'
					<?php //}
					//else
					//{ ?> data-mage-init='{"accordion":{"openedState": "active", "collapsible": true, "active": false, "multipleCollapsible": false}}'
				<?php //}
				?>>
                    <?php  $wrapOptions = true; endif; ?>
                    <div data-role="collapsible" class="filter-options-item">
                        <div data-role="title" class="filter-options-title"><?= /* @escapeNotVerified */ __($filter->getName()) ?></div>
                        <div data-role="content" class="filter-options-content"><?= /* @escapeNotVerified */ $block->getChildBlock('renderer')->render($filter) ?></div>
                    </div>
                <?php endif; ?>
            <?php endforeach; ?>
            <?php if ($wrapOptions): ?>
                </div>
            <?php else: ?>
                <script>
                    require([
                        'jquery'
                    ], function ($) {
                        $('#layered-filter-block').addClass('filter-no-options');
                    });
                </script>
            <?php endif; ?>
        </div>
    </div>
<?php endif; ?>
