<?php if ($block->isEnabled()): ?>
    <?php
    $order = $block->getOrder();
    $items = $order->getAllVisibleItems();
    $currencyFormat = $this->helper('Magento\Framework\Pricing\Helper\Data');
    ?>
    <div class="sunarc-order-success-detail">
        <div class="box box-order-shipping-address">
            <strong class="box-title"><span><?php /* @escapeNotVerified */
                    echo __('Shipping Address') ?></span></strong>
            <div class="box-content">
                <address><?php /* @escapeNotVerified */
                    echo $block->getFormattedAddress($order->getShippingAddress()); ?></address>
            </div>
        </div>

        <div class="box box-order-shipping-address">
            <strong class="box-title"><span><?php /* @escapeNotVerified */
                    echo __('Shipping Method') ?></span></strong>
            <div class="box-content">
                <?php if ($order->getShippingDescription()): ?>
                    <?php echo $block->escapeHtml($order->getShippingDescription()) ?>
                <?php else: ?>
                    <?php /* @escapeNotVerified */
                    echo __('No shipping information available'); ?>
                <?php endif; ?>
            </div>
        </div>
    </div>

    <?php if (count($items) > 0): ?>

        <div class="table-wrapper order-items">
            <table class="data table table-order-items" summary="Items Ordered">
                <thead>
                <tr>
                    <th class="col name"><?php /* @escapeNotVerified */
                        echo __('Product Name') ?></th>
                    <th class="col price"><?php /* @escapeNotVerified */
                        echo __('Rate') ?></th>
                    <th class="col qty"><?php /* @escapeNotVerified */
                        echo __('Qty') ?></th>
                    <th class="col total"><?php /* @escapeNotVerified */
                        echo __('Subtotal') ?></th>
                </tr>
                </thead>


                <?php foreach ($items as $i): ?>
                    <?php $_product = $block->getProduct($i->getProductId());
                    $productRepo = $block->getProductRepository($i->getProductId());

                    ?>
                    <tbody>
                    <tr class="order-success-cart-detail">
                        <td class="col name" data-th="Product Name">
                            <div class="success-order-product-name">
                                <?php echo $block->getImage($_product, 'cart_page_product_thumbnail')->toHtml(); ?>
                            </div>

                            <div class="success-order-product-name">
                                <strong class="product-item-name"><?php echo $_product->getName(); ?></strong>
                                <?php if ($_options = $block->getItemOptions($i)): ?>
                                    <dl class="item-options">
                                        <?php foreach ($_options as $_option) : ?>
                                            <dt><?php echo $block->escapeHtml($_option['label']) ?></dt>
                                            <?php if (!$block->getPrintStatus()): ?>
                                                <?php $_formatedOptionValue = $block->getFormatedOptionValue($_option) ?>
                                                <dd>
                                                    <?php if (isset($_formatedOptionValue['full_view'])): ?>
                                                        <?php /* @escapeNotVerified */
                                                        echo $_formatedOptionValue['full_view'] ?>
                                                    <?php else: ?>
                                                        <?php /* @escapeNotVerified */
                                                        echo $_formatedOptionValue['value'] ?>
                                                    <?php endif; ?>
                                                </dd>
                                            <?php else: ?>
                                                <dd>
                                                    <?php echo nl2br($block->escapeHtml((isset($_option['print_value']) ? $_option['print_value'] : $_option['value']))) ?>
                                                </dd>
                                            <?php endif; ?>
                                        <?php endforeach; ?>
                                    </dl>
                                <?php endif; ?>
                            </div>


                        </td>
                        <td class="col price" data-th="Price">
            <span class="price-including-tax" data-label="Incl. Tax">
                    <span class="cart-price">
                    <span class="price"><?php echo $currencyFormat->currency($i->getPriceInclTax(), true, false); ?></span>            </span>

            </span>
                        </td>
                        <td class="col qty" data-th="Qty">
                            <span class="content"><?php echo round($i->getQtyOrdered()); ?></span>
                        </td>
                        <td class="col subtotal" data-th="Subtotal">
            <span class="price-including-tax" data-label="Incl. Tax">
                    <span class="cart-price">
                    <span class="price"><?php echo $currencyFormat->currency($i->getRowTotalInclTax(), true, false); ?></span>            </span>

            </span>
                        </td>
                    </tr>
                    </tbody>
                <?php endforeach; ?>

                <tfoot>

                <tr class="subtotal">
                    <th colspan="4" class="mark" scope="row">
                        <?php /* @escapeNotVerified */
                        echo __('Subtotal') ?>                   </th>
                    <td class="amount" data-th="Subtotal">
                    <span class="price"><?php /* @escapeNotVerified */
                        echo $order->formatPrice($order->getSubtotal()) ?></span></td>
                </tr>

                <?php if ($order->getDiscountAmount() > 0): ?>
                    <tr>
                        <th colspan="4" class="mark" scope="row"><?php /* @escapeNotVerified */
                            echo(($order->getCouponCode()) ? __('Discount (%1)', $order->getCouponCode()) : __('Discount')) ?></th>
                        <td class="amount" data-th="Shipping &amp; Handling">
                        <span class="price"><?php /* @escapeNotVerified */
                            echo $order->formatPrice(0.00 - $order->getDiscountAmount()) ?></span></td>
                    </tr>
                <?php endif; ?>

                <?php if ($order->getShippingAmount() || $order->getShippingDescription()) : ?>
                    <tr class="shipping">
                        <th colspan="4" class="mark" scope="row">
                            <?php /* @escapeNotVerified */
                            echo __('Shipping &amp; Handling') ?></th>
                        <td class="amount" data-th="Shipping &amp; Handling">
                        <span class="price"><?php /* @escapeNotVerified */
                            echo $order->formatPrice($order->getShippingAmount()) ?></span></td>
                    </tr>
                <?php endif; ?>

                <?php if ($order->getTaxAmount() > 0): ?>
                    <tr class="shipping">
                        <th colspan="4" class="mark" scope="row"><?php /* @escapeNotVerified */
                            echo __('Tax') ?></th>
                        <td class="amount" data-th="Shipping &amp; Handling">
                        <span class="price"><?php /* @escapeNotVerified */
                            echo $order->formatPrice($order->getTaxAmount()) ?></span></td>
                    </tr>
                <?php endif; ?>

                <tr class="grand_total">
                    <th colspan="4" class="mark" scope="row">
                        <strong><?php /* @escapeNotVerified */
                            echo __('Grand Total') ?></strong>
                    </th>
                    <td class="amount" data-th="Grand Total">
                        <strong><span class="price"><?php /* @escapeNotVerified */
                                echo $order->formatPrice($order->getGrandTotal()) ?></span></strong>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    <?php endif; ?>
<?php endif; ?>

