<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
?>
<?php
	/** @var $block \Magento\Framework\View\Element\Template */
	/** @var $helper \Magento\Search\Helper\Data */
	$helper = $this->helper('Magento\Search\Helper\Data');
?>
<div class="search-wrapper">
	<div class="search-content block block-search" id="search-content">
        <a class="search-icon" title="<?php /* @escapeNotVerified */ echo __('Search'); ?>" href="javascript:void(0);"><span><?php /* @escapeNotVerified */ echo __('Search'); ?></span></a>        
		
		<div class="search-form-container" <?php /*data-mage-init='{"dropdownDialog":{
            "appendTo":"#search-content",
            "triggerEvent":"hover",
            "triggerTarget":".search-icon",
            "closeOnMouseLeave": true,
            "triggerClass":"active",
            "parentClass":"active",
            "buttons":null}}'*/ ?> >
			<form class="form minisearch" id="search_mini_form" action="<?php /* @escapeNotVerified */ echo $helper->getResultUrl() ?>" method="get">
				<div class="field search">
					<label class="label" for="search" data-role="minisearch-label">
						<span><?php /* @escapeNotVerified */ echo __('Search'); ?></span>
					</label>
					<div class="control">
						<input id="search"
                           data-mage-init='{"quickSearch":{
                                "formSelector":"#search_mini_form",
                                "url":"<?php /* @escapeNotVerified */ echo $block->getUrl('search/ajax/suggest', ['_secure' => $block->getRequest()->isSecure()]); ?>",
                                "destinationSelector":"#search_autocomplete"}
                           }'
                           type="text"
                           name="<?php /* @escapeNotVerified */ echo $helper->getQueryParamName() ?>"
                           value="<?php /* @escapeNotVerified */ echo $helper->getEscapedQueryText() ?>"
                           placeholder="<?php /* @escapeNotVerified */ echo __('Type School Name, Address,City, Pincode'); ?>"
                           class="input-text"
						   onfocus="this.placeholder = ''" 
						   onblur="this.placeholder = '<?php /* @escapeNotVerified */ echo __('Type School Name, Address,City, Pincode'); ?>'"
                           maxlength="<?php /* @escapeNotVerified */ echo $helper->getMaxQueryLength();?>"
                           role="combobox"
                           aria-haspopup="false"
                           aria-autocomplete="both"
                           autocomplete="off"/>
						<div id="search_autocomplete" class="search-autocomplete"></div>
						<?php echo $block->getChildHtml() ?>
					</div>
				</div>
				<div class="actions">
					<button type="submit"
					title="<?php echo $block->escapeHtml(__('Search')) ?>"
					class="action search primary">
						<span><?php /* @escapeNotVerified */ echo __('Search'); ?></span>
					</button>
				</div>
			</form>
		</div>
		
	</div>
</div>
