<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Form\Login $block */
?>
<?php
/**
 * Customer login form template
 *
 * @see \Magento\Customer\Block\Form\Login
 * @var $block \Magento\Customer\Block\Form\Login
 */
?>
<div class="block block-customer-login">
    <div class="block-content" >
        <form class="form form-login"
              action="<?php /* @escapeNotVerified */ echo $block->getPostActionUrl() ?>"
              method="post"
              id="login-form-mini"
              data-mage-init='{"validation":{}}'>
            <?php echo $block->getBlockHtml('formkey'); ?>
            <fieldset class="fieldset login" data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>">
                <div class="field email required">
                    <!--<label class="label" for="email"><span><?php /* @escapeNotVerified */ echo __('Email') ?></span></label>-->
                    <div class="control">
<!--                        <input placeholder="--><?php ///* @escapeNotVerified */ echo __('Email') ?><!--" name="login[username]" value="--><?php //echo $block->escapeHtml($block->getUsername()) ?><!--" --><?php //if ($block->isAutocompleteDisabled()) :?><!-- autocomplete="off"--><?php //endif; ?><!-- id="email" type="email" class="input-text" title="--><?php ///* @escapeNotVerified */ echo __('Email') ?><!--" data-validate="{required:true}">-->
                        <input placeholder="Mobile number / Email" name="login[username]" value="<?php echo $block->escapeHtml($block->getUsername()) ?>" id="username" type="text" <?php if ($block->isAutocompleteDisabled()) :?> autocomplete="off"<?php endif; ?> class="input-text" title="<?php /* @escapeNotVerified */ echo __('username') ?>" data-validate="{required:true}">

                    </div>
                </div>
                <div class="field password required">
                    <!--<label for="pass" class="label"><span><?php /* @escapeNotVerified */ echo __('Password') ?></span></label>-->
                    <div class="control">
                        <input placeholder="<?php /* @escapeNotVerified */ echo __('Password') ?>" name="login[password]" type="password" <?php if ($block->isAutocompleteDisabled()) :?> autocomplete="off"<?php endif; ?> class="input-text" id="pass" title="<?php /* @escapeNotVerified */ echo __('Password') ?>" data-validate="{required:true, 'validate-password':true}">
                    </div>
                </div>
                <?php echo $block->getChildHtml('form_additional_info'); ?>
                <div class="actions-toolbar">
                    <div class="">
						<button type="submit" class="action login primary" name="send" id="send2"><span><?php /* @escapeNotVerified */ echo __('Login') ?></span></button></div>
						<!--<a class="action create primary" href="<?php echo $this->getUrl('customer/account/create') ?>"><span><?php echo __('Sign up') ?></span></a>-->
					<div class="secondary">
					<a class="action remind" href="<?php /* @escapeNotVerified */ echo $block->getForgotPasswordUrl() ?>"><span><?php /* @escapeNotVerified */ echo __('Forgot Your Password?') ?></span></a>
					</div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
