@media (min-width:768px){.header.panel > .header.links > li > a{color: black !important;}.page-header .panel.wrapper{background-color: white !important}.cms-index-index .before-slideshow-area .box-header{margin-top: unset !important; max-width: unset !important;}
.search-wrapper{position: absolute;
    top: 74%;
    width: 50%;
    z-index: 1 !important;
    text-align: center;
    left: 0;
    right: 0;
    margin: 0 auto;

}
.slideshow-area.slideshow-area-pos { position: relative !important;}
.search-icon{position: absolute;z-index: 1;color: #fff;font-size: 16px;text-align: center;right: 0px;border: 1px solid;
width: 15%;margin: 0 auto;padding: 7px !important;background: #006bb4;height: 100%;}
.header.panel > .header.links > li > div{color: black !important;}
.before-slideshow-area .box-header{background-color: unset;}
.navigation li.level0 > .level-top{background-color: unset !important;border: unset !important;}
.navigation{background: unset !important;}
    .cdz-login-form-dropdown{background: #34445b !important; border: 1px solid #34445b !important;}
    .minicart-wrapper .ui-dialog .block-minicart{background: #34445b !important; border: 1px solid #34445b !important;}
    .minicart-wrapper .ui-dialog .block-minicart span{  color: #FFFFFF;}
    .copyright {  color: #ffffff;  }
}
.page-footer{background-color: #fff !important;}
.header-wrapper-middle.sticky-menu.active {background-color: #34445b !important;}
.checkout-index-index .page-header{padding: 0px 0px;}
.checkout-index-index.page-layout-1column .authentication-wrapper {
    display: none !important;
}
.contact-infor {  padding-left: 10px;  }
.contact-durations {  padding-left: 23px;  }
.contact-info {  font-size: 14px;  margin-bottom: 5px;  }
#form.contact {  margin-bottom: 20px;  }
#map_canvas {  margin-top: 20px;  }
@media (min-width: 640px) {
    .page-layout-1column .filter.block {
        text-align: center;
    }
    .page-layout-1column .filter.active .filter-content {
        text-align: left;
    }
}
.header.content .logo > .header .content {  padding: 20px 10px 10px !important;}
.bg-wrapper-ads{background-image: url(../images/banner2.JPG) !important;}

.menu-container .cdz-main-menu.cdz-fix-left .groupmenu li a{
    background-color:transparent !important;
    color: black !important;
}

.slideshow-area .search-wrapper
{
    display: none;
}
.cdz-home-top-banners.hidden-xs
{
    display: none;
}
.columns .column main
{
    display: none;
}
.footer-product-services
{
    padding:5%;
    color:black;
}

#maincontent .columns .column.main
{
    min-height: 50px !important;
}
#magento1-modules
{
    padding-top: 10%;
    color:black;
    margin: auto; text-align: center;
}

#magento2-modules
{
    padding-top: 10%;
    color:black;
    margin: auto; text-align: center;
}
#below-slider-images tr td
{
    margin: auto; text-align: center;
    color: #a1a1a1;
}
.block.widget.block-products-list.grid .block-content.products.wrapper.products-grid .products.list.items.product-items
{
    padding-top: 10px;
}

.owl-item.active .item.product.product-item .product-item-info
{
    padding-top: 7px;
    border: solid 1px;
    border-top:none;
    margin: 4px;
}
#main-font-on-slider
{
    margin: auto; text-align: center;
    margin-top: 14%;
    width:50%;
}
#extra-font-on-slider
{
    color:rgb;
    margin: auto; text-align: center;
}
#buttons-on-slider
{
    margin-top: 10%;
}
#buttons-on-slider #magento2
{
  margin-left: 10%;
}
#buttons-on-slider #magento1
{
    margin-left: 35%;
}
.sticky-menu.active
{
    display:none;
}