
<!--
  ~ /**
  ~  Copyright © 2016 Magestore. All rights reserved.
  ~  See COPYING.txt for license details.
  ~  */
  -->

<!--Shipping method template-->
<li id="opc-shipping_method"
    class="checkout-shipping-method"
    data-bind="fadeVisible: visible(), blockLoader: isLoading"
    role="presentation">
    <div class="checkout-shipping-method">
	<h3 class="step-title step_2" id="shipping_method_step_header" data-bind="i18n: 'Delivery Details'" data-role="title"></h3>
    
        <div data-bind="i18n: 'We will deliver your order between 6PM to 9PM'" data-role="title"></div>
    </div>
</li> 
