<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
/* @var $block \Magento\Framework\View\Element\Template */
?>
<?php
$currnetUrl = $block->getCurrentUrl();
$ratingPar = $block->getRatingPar();
?>
<div class="block block-compare">
    <div class="block-title">
        <strong><?php /* @escapeNotVerified */
            echo __('Rating') ?></strong>
    </div>
    <div class="">
        <div id="slider"></div>
    </div>
    <?php if ($ratingPar): ?>
        <div id="clear-rating-filter" class="block-actions" style="margin-top: 30px;">
            <a href="<?php echo $currnetUrl; ?>"
               class="action clear filter-clear"><span><?php echo __('Reset Filter'); ?></span></a>
        </div>
    <?php endif; ?>
</div>

<script>
    require([
        'jquery',
        'jquery/ui'
    ], function ($) {
        $(function () {
            var ratingPar = <?php echo json_encode($ratingPar); ?>;
            var range = [1, 5];
            if(ratingPar){
                range = ratingPar;
            }
            function ratingFilter(rating) {

                //var rating = position.split(',');
                var fromRating = rating[0];
                var toRating = rating[1];
                var from = fromRating;
                var to = toRating;

                switch (fromRating) {
                    case 2:
                        from = '21';
                        break;
                    case 3:
                        from = '41';
                        break;
                    case 4:
                        from = '61';
                        break;
                    case 5:
                        from = '81';
                        break;
                    default:
                        from = '00';
                        break;
                }

                to = (to * 2) * 10;

                if (to == 0 || to == '0') {
                    to = '20';
                }


                var url = '<?php echo $currnetUrl; ?>';
                if (url.toLowerCase().indexOf("?") >= 0) {
                    var newurl = url + "&rat=" + from + "-" + to;
                } else {
                    var newurl = url + "?rat=" + from + "-" + to;
                }
                window.location.href = newurl;
            }
            $("#slider").slider({
                min: 1,
                max: 5,
                step: 1,
                values:range ,
                range:true,
                stop: function( event, ui ) {
                    ratingFilter(ui.values);
                }
            })
            .each(function () {
                var opt = $(this).data().uiSlider.options;
                var vals = opt.max - opt.min;
                for (var i = 0; i <= vals; i++) {
                    var el = $('<label>' + (i + 1) + '</label>').css('left', (i / vals * 100) + '%');
                    $("#slider").append(el);
                }
            });
        });
    });
</script>




