<!--
  ~ /**
  ~  Copyright © 2016 Magestore. All rights reserved.
  ~  See COPYING.txt for license details.
  ~  */
  -->

<li>
    <h1 class="checkout_header" data-bind="text: oneStepTitle"></h1>
    <!--<p class="subtitle" data-bind="i18n: 'Please fill in the fields below and click Place order to complete your purchase!'"></p>-->
</li>
<!-- ko if: !isLogin() -->
<li id='onestepcheckout_login_link' class="onestepcheckout-login-link" data-bind="visible: isShowLoginLink">
    <a href="javascript:void(0);" id="onestepcheckout-login-link"
       data-bind="text: loginLinkTitle, click: showLoginForm">
    </a>
</li>
<!-- /ko  -->

<!-- ko if: isLogin() -->
<li id='onestepcheckout_logout_link' class="onestepcheckout-login-link" data-bind="visible: isShowLoginLink">
    <a href="javascript:void(0);" id="onestepcheckout-logout-link"
       data-bind="i18n: 'Logout', click: logout">
    </a>
</li>
<!-- /ko  -->