<!--
  ~ /**
  ~  Copyright © 2016 Magestore. All rights reserved.
  ~  See COPYING.txt for license details.
  ~  */
  -->

<!-- ko if: isShowDelivery() -->
<li class="delivery">
    <div class="delivery_time_date">
        <label for="delivery_date" data-bind="i18n: 'Date to delivery:'"></label>
        <p class="datetime-delivery">
            <input readonly="readonly" id="delivery_date" class="osc-additional-data"
                   type="text" size="17" name="delivery[onestepcheckout-date]"
                   data-bind="value: currentDate(),afterRender: initDate()"/>
        </p>
    </div>
    <div class="delivery_time_date select-time select_time_checkout">
        <label for="delivery_time" data-bind="i18n: 'Select your time:'"></label>
        <p class="datetime-delivery">
            <select id="delivery_time" style="width: 100px"
                    data-bind=" optionsValue: 'value',
    optionsText: 'label',
    optgroup: [{
            label: 'Between',
            value: ''
        },{
            label: '6PM to 7PM',
            value: '6PM to 7PM'
        }, {
            label: '7PM to 8PM',
            value: '7PM to 8PM'      
        }, {
            label: '8PM to 9PM',
            value: '8PM to 9PM'      
        }]">
            </select>
        </p>

    </div>
	<div class="time_seperator_checkout"><span>Or</span><hr/></div>
	<div class="faster_delievery_checkout">For faster delivery call at +91 8290 541 366</div>
</li>
<!-- /ko -->
<!-- ko if: isShowSecurityCode() -->
<li class="sercurity-box">
    <div class="input-box">
    <input id="security_code" class="osc-additional-data input-text"
           type="text" size="25" name="security_code" style="margin-left: 20px" required />
    <span class="highlight"></span>
    <span class="bar"></span>
    <label class="label" for="security_code" data-bind="i18n: 'Security access code (Buildings/gated communities)'"
           style="margin-left: 20px;"></label>
        </div>
</li>
<!-- /ko -->